# tinyrox says don't edit this manually, but it can't stop you!

export(fyi)
export(fyi_cache)
export(fyi_cache_path)
export(fyi_docs)
export(fyi_exports)
export(fyi_help)
export(fyi_help_topics)
export(fyi_internals)
export(fyi_options)
export(use_fyi_docs)
export(use_fyi_hugo)
export(use_fyi_md)

importFrom(utils,capture.output)
